* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Poppins', sans-serif;
    background-image: url("img/city-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;

  }
  
  nav {
    height: 10vh;
    background: #f1f1f1;
    display: flex;
  }
  
  p {
      padding-left: 1rem;
  }

  section {
    padding: 2rem;
  }

  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    font-weight: bold;
  }

  .link {
    display: flex;
    align-items: center;
    color: #2f2f2f;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2.1rem;
    
  }

  .home {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 2rem;
      font-size: 1.5rem;
      color: #2f2f2f;
      padding: 1.1rem;      
  }
  .home-link,
  .home-link :visited,
  .home-link :active {
      text-decoration: none;
      color: #2f2f2f;
      font-weight: bold;
  }


  .landing {
    display: flex;
    justify-content: center;

    width: 50%;
    margin: auto;
    padding-bottom: 3rem;
  }

  .landing h1 {
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    /* color: #f1f1f1; */
    background: #2f2f2f;
    color: white;
  }

  .landing-content {
    width: 80%;
}

  .main-video {
    width: 100%;
    height: 100%;
  }

  .content {
      background: #f1f1f1;
  
  }

  #about {
    width: 50%;
    margin: auto;
    padding-bottom: 3rem;
    background: #f1f1f1;

  }

  #videos {
    width: 100%;
    margin: auto;
    padding-bottom: 3rem;

  }
  
  /* .video-block {
    padding-bottom: 2rem;
    border-bottom: solid #b4b4b4 1px;
  } */

  .video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    overflow: hidden;
  }
  .recent-video {
    padding: 1rem;
    width: 100%;
  }

  .video-thumb {
    /* text-align: center; */
    padding-left: 1.5rem;

  }

  #contact {
    width: 50%;
    margin: auto;
    padding-bottom: 3rem;
  }

  #error {
    width: 50%;
    margin: auto;
    padding-bottom: 3rem;
    background: #f1f1f1;
    height: 80vh;
  }

  .contact-link {
    color: #2f2f2f;
  }

  .header-title {
    margin-left: 10px;
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

  .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      background: #2f2f2f;      
      padding-top: 2%;
      padding-bottom: 3%;
      padding-left: 0;
      padding-right: 0;

  }

  hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, rgb(155, 155, 155), #ccc);
  }
  .footer-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  .footer-nav-element {
    color: #f1f1f1;
  }

  .copyright {
    color: #f1f1f1;
  }

  .social-media {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

  .fab {
    font-size: 1.2rem;
    padding: 1.5rem;
  }
  
  .fa-youtube {
    color: red;
  }
  
  .fa-linkedin {
    color: #0077b5;
  }
  
  .fa-facebook {
    color: #4267b2;
  }

  .footer-elements,
  .footer-elements :visited {
      color: #f1f1f1;
  }

  .footer-nav-element{
      text-decoration: none;
  }
  

  
  @media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: #2f2f2f;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 3;
    }
  
    .nav-links {
      position: fixed;
      background: #f1f1f1;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(8rem at 90% -50%);
      -webkit-clip-path: circle(100px at 90% -50%);
      transition: all 1s ease-out;
      pointer-events: none;
      z-index: 2;
    }
    .nav-links.open {
      clip-path: circle(1500px at 90% -10%);
      -webkit-clip-path: circle(1500px at 90% -10%);
      pointer-events: all;
    }
    .landing {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .landing h1 {
        margin: 10px;
        
        font-size: 2rem;
        color: #2f2f2f;
    }

    .landing-content {
        width: 100%;
        margin: auto;
    }

    #about {
        width: 100%;
        margin: auto;
      }

    #videos {
    width: 100%;
    margin: auto;
    overflow: hidden; /*breaks for some reason without it*/
    }

    .video-grid {
      display: block;
    }

    #contact {
    width: 100%;
    margin: auto;
    }

    #error {
      width: 100%;
      margin: auto;
    }

    .main-video {
        min-width: 100%;
        max-height: 100%;
        align-items: center;
    }

    .video-block {
      padding-bottom: 1rem;
      padding-top: 1rem;
      border-bottom: solid #b4b4b4 1px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-title {
        font-size: 2rem;
        margin: 10px;
    }

    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 1.5rem;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
    .footer-nav {
        display: flex;
        justify-content: center;
        font-size: 15px;
      }
  }